<% include partials/header %>
<% include partials/center%>
<div id="logo">
    <img src="img/static/connect.svg" class="logo">
    <h2>Software development made easy</h2>
</div>
<div class="inline">
  <a class="submit lg cta" href="/login">Get Started</a>
</div>
<% include partials/footer %>
